<%= form_for vote, url: proposal_votes_path(proposal) do |f| %>

  <%= render "form_errors", obj: vote %>

  <%
  text = @has_voted ?  "You have already voted" : "Vote for this proposal"
  options = { class: "button" }
  options[:disabled] = true if @has_voted
  %>

  <%= f.submit text, options %>

  <p class="vote-count">This proposal currently has <%= pluralize proposal.votes.size, "vote" %>.</p>

  <% unless current_user %>
    <p class="sub-text">You must sign in via Twitter in order to vote for this proposal. We only use your Twitter account to verify your identity, we will never tweet from it. Promise.</p>
  <% else %>
    <p class="sub-text">You have <strong><%= pluralize current_user.votes_remaining, "vote" %></strong> remaining.</p>
  <% end %>
<% end %>